input:focus {
   box-shadow: 0 0 0 0 !important;
   outline: 0 !important;
}

input{
   width: 150px !important;
   height: 150px !important;
   font-size: 50pt !important;
   text-align: center !important;
}


#timer{
   display: none !important;
   
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.time{
   color: #ffffff;
   text-align: center;
   width: 20rem;
   height: 20rem;
   border-radius: 10rem;
   display: flex ;
   justify-content: center ;
   align-items: center ;
   margin: auto !important;
}

h2{
   font-size: 90pt;
}
